.main-box{
    float:left;
}
.main-in{
    height:500px;
    background-color:#eee;
    overflow-y:auto;
    overflow-x:hidden;
    padding:3px;
}
legend {
    font:bold 18px sans-serif;
}
fieldset {
    padding:0;
    margin:15px;
}
.inner-table th{
    padding:5px;
    border-bottom:solid 4px gray;
    font:bold 13px sans-serif;
    
}
.inner-table td{
    padding:5px;
    border-bottom:solid 1px gray;
    font:normal 14px sans-serif;
    
}