


.table-desk{
    width:300px;
    height:200px;
    background-color:#aaa;
    float:left;
    border:solid 5px white;
    margin:10px;
    text-align:center;
}
.table-desk button{
    font-size:20px;
    margin:5px
}
#order_now{
    z-index:10;
    margin-top:40px;
    border:solid 3px;
    float:right;
    width:350px;
    padding:10px;
    background-color:#fff;
    font:normal 14px sans-serif;

}
#option_bar{
    z-index:5;
    position:fixed;
    bottom:0;
    background-color:#333;
    height:90px;
}
.button_area{
    float:left;
    padding:5px;
}
.button_area button{
    width:150px;
    height:80px;
    
}
@media print{
    #order_now{
        float:left;
        border:none;
        margin-top:0;
        top:0;
        left:5px;
        width:270px;
    }
    .menu_del,.table-desk,#Payment_Form,.print-button,#option_bar,#table_area{
        display:none;
    }
    body{
        margin:0;
    }
}