
#SECTION-RIGHT-INNER{
  position:relative;
}
#DIALOG-TOTAL-PRICE{
  position:absolute;
  top:0px;
  right:0px;
  min-width:calc(100% - 20px);
  height:60px;
  padding:10px;
  border-radius:5px 0 0 0;
  background-color:#000;
  color:#fff;
  text-align:right;
  font:bold 60px sans-serif;
}
#DIALOG-TOTAL{
  position:absolute;
  top:80px;
  right:0px;
  width:100%;
  height:30px;
  background-color:#000;
  color:#fff;
  text-align:right;
  font:bold 20px sans-serif;
}
#DIALOG-STANDBY-COVER{
  position:absolute;
  top:80px;
  right:200px;
  width:150px;
  color:#fff;
  height:40px;
  background-color:#000;
}
#DIALOG-LOGO {
  position:absolute;
  text-align:center;
  top:120px;
  right:0px;
  width:100%;
  height:20px;
  background-color:#eee;
}

#DIALOG-MAIN-BUTTON {
  position:absolute;
  bottom:0;
  right:0px;
  width:100%;
  background-color:#000;
}
#DIALOG-MAIN-BUTTON button{
  float:left;
  width:150px;
  height:60px;
  margin:0;
}
#HIDDEN-BUTTON button{
  font:normal 12px sans-serif;
}
#DIALOG-ORDER-LIST{
  position:absolute;
  top:150px;
  width:350px;
  color:#fff;
  overflow-y:auto;
}
/* System_View POS */
#DIALOG-ORDER-LIST [id^=ORDER-LIST-NODE-]{
  clear:both;
  font:normal 20px sans-serif;
  border-top:solid 2px #555;
  padding:5px;
  min-height:30px;
}
#DIALOG-ORDER-LIST [id^=ORDER-LIST-QTY-]{
  float:left;
  text-align:left;
  padding-right:5px;
}  
#DIALOG-ORDER-LIST [id^=ORDER-LIST-NAME-]{
  float:left;
  text-align:left
}
#DIALOG-ORDER-LIST [id^=ORDER-LIST-PRICE-]{
  display:none;
  float:right;
  text-align:right;
  padding-right:5px;
}
#DIALOG-ORDER-LIST [id^=ORDER-LIST-TOTAL-PRICE-]{
  display:none;
  float:right;
  text-align:right;
  padding-right:5px;
}
#DIALOG-ORDER-LIST [id^=ORDER-LIST-DEL-]{
  display:none;
}
/* System_View SUPERMARKET */
#DIALOG-ORDER-LIST-SUPERMARKET [id^=ORDER-LIST-NODE-]{
  clear:both;
  font:normal 22px sans-serif;
  color:#000;
}
#DIALOG-ORDER-LIST-SUPERMARKET [id^=ORDER-LIST-QTY-]{
  float:left;
  text-align:center;
  border:solid 1px #000;
  background-color:#fff;
  padding-right:5px;
  width:80px;
}
#DIALOG-ORDER-LIST-SUPERMARKET [id^=ORDER-LIST-NAME-]{
  border:solid 1px #000;
  background-color:#fff;
  float:left;
  text-align:left;
  width:500px;
  padding-left:5px;
}
#DIALOG-ORDER-LIST-SUPERMARKET [id^=ORDER-LIST-PRICE-]{
  border:solid 1px #000;
  background-color:#fff;
  float:left;
  text-align:right;
  padding-right:5px;
  width:120px;
}
#DIALOG-ORDER-LIST-SUPERMARKET [id^=ORDER-LIST-TOTAL-PRICE-]{
  border:solid 1px #000;
  background-color:#fff;
  float:left;
  text-align:right;
  padding-right:5px;
  width:120px;
}
#DIALOG-ORDER-LIST-SUPERMARKET [id^=ORDER-LIST-DEL-]{
  border:solid 1px #000;
  background-color:#000;
  float:left;
  text-align:right;
  padding-right:5px;
  width:30px;
}



[id^=ORDER-TOPUP-]{
  clear:both;
  text-align:left;
  margin-left:25px;
  padding-left:10px;
  border-left:solid 10px orangered;
}
.TOPUP-PARTITION{
  clear:both;
  float:left;
  padding-right:10px;
  border-top:solid 5px orangered;
  margin-left:-10px;
}
.ORDER-LIST-TOPUP{
  font-size:16px;
  clear:both;
  float:left;
  background-color:orange;
  padding:3px 8px 3px 5px;
  border-radius:0 3px 10px 3px;
  margin-left:-5px;
  margin-bottom:3px;
}
#POPUP-MONEY td{
  background-color:#fff;
  border-radius:2px;
  width:33%;
}
#CONFIRM-BUTTON,#REPRINT-BUTTON{
  display:none;
}
.ORDER-LIST-TOPUP{
  clear:both;
  height:28px;
}
.ORDER-LIST-TOPUP-NAME{
  float:left;
}
.ORDER-LIST-TOPUP-PRICE{
  display:none;
  float:right;
  padding-right:5px;
}
.PAYMENT-NOTE{
  float:left;
  width:150px;
  height:150px;
  margin:5px;
  border-radius:75px;
  border:solid 2px #000;
  box-shadow:0 0 20px #000;
}
.PAYMENT-CREDIT,.PAYMENT-QR{
  float:left;
  width:200px;
  height:125px;
  margin:3px;
  border-radius:10px;
  border:solid 2px #000;
  box-shadow:0 0 20px #000;
}
.PAYMENT-POINT{
  width:464px;
  height:150px;
  margin:5px;
  border-radius:10px;
  border:solid 2px #000;
  box-shadow:0 0 20px #000;
}
.PAYMENT-VOUCHER{
  width:464px;
  height:150px;
  margin:5px;
  border-radius:10px;
  border:solid 2px #000;
  box-shadow:0 0 20px #000;
}
#DIALOG-ORDER-LIST img{
  width:100%;
}
#POPUP-PAYMENT{
  min-width:800px;
  border:solid 5px #000;
  background-color:#1a1a1a;
  padding:10px;
  position:fixed;
  top:40px;
  right:350px;
}
#POPUP-MEMBER{
  min-width:800px;
  border:solid 5px #000;
  background-color:#1a1a1a;
  padding:10px;
  position:fixed;
  top:40px;
  right:350px;
}
#POPUP-HISTORY{
  min-width:800px;
  border:solid 5px #000;
  background-color:#1a1a1a;
  padding:10px;
  position:fixed;
  top:40px;
  right:350px;
}
.unit-style{
  font:normal 12px sans-serif;
}